{% extends 'layout.html.twig' %}

{% block content %}
<div class="container bg bg-light  ">
    <h1>La liste</h1>
    <ul>
        {% for item in items %}
            <div class="justify-center">
                <li class="row">
                    <a href="/item/show/{{ item.id }}" class="liste-item">{{ item.id }}. {{ item.title }}</a>
                </li>
         {% else %}
            <li>Rien à afficher</li>
            </div>
        {% endfor %}
    </ul>
    <a href="/item/add" class="btn btn-info">Ajouter</a>
</div>
{% endblock %}
