{% extends'layout.html.twig' %}

{% block content %}
{#  {% include'carousel/index.html.twig' %}#}
    <div class="container bg-danger pt-3 image_">
        {% include'Home/profile_accueil.html.twig' %}
    </div>

    {#  <div class="bg-white p-0 my-0">
        <p class="text-center"><a href="/users/contact" class="btn btn-primary p-2">Me Contacter</a></p>
    </div>#}

{% endblock %}
