{% extends 'layout.html.twig' %}

{% block content %}
<div class="container bg bg-white">
     <h1 class="text-center my-5 pt-5">Bienvenue sur mon blog</h1>
     <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
               <div class="card">
                    <img src="https://i.postimg.cc/L83y3MJV/2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
               </div>
          </div>
          <div class="col">
               <div class="card">
                    <img src="https://i.postimg.cc/x1D7PRt9/3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
               </div>
          </div>
          <div class="col">
               <div class="card">
                    <img src="https://i.postimg.cc/cCqxM3z2/4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
               </div>
          </div>
          <div class="col">
               <div class="card">
                    <img src="https://i.postimg.cc/J0QdtGCF/for-paris.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
               </div>
          </div>
     </div>

</div>


{% endblock %}
