<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card pb-3">
    <img src="../assets/images/elhadj_bah_2.png" alt="Elhadj image" style="width:100%">
    <h1>Elhadj BAH</h1>
    <p class="title">Développeur Web & Mobile PHP/Symfony</p>
    <hr>
    <div class="flex pb-2">
        <span class="text-center m-2"><a href="/users/contact" class="btn btn-dark "><i class="fa fa-envelope"></i> Me Contacter</a></span>
        <span class="text-center m-2"><a href="../assets/documents/CV_BAH_Elhadj.pdf" class="btn btn-dark " target="_blank"><i class="fa fa-download"></i> CV</a></span>
    </div>
    <hr>
    <div class="flex pb-2">
        Me suivre :
        <a href="https://github.com/Elhadj75BAH?tab=repositories" class="text-dark m-2" target="_blank"><i class="fa fa-github"></i></a>
        <a href="#"class="text-dark m-2"><i class="fa fa-linkedin"></i></a>
        <a href="#"class="text-dark m-2"><i class="fa fa-twitter"></i></a>
        <br>
        <hr>
        <small class="text-center text-muted">Le  {{ datej|date('d-m-Y') }}</small>
    </div>
</div>
