{% extends'layout.html.twig' %}
{% block content %}
    <div class="container bg-light">
        <h1 class="text-center">Bienvenue sur votre espace </h1>
            Bonjour {{ app.user.email}}
       <a href="/login/logout" class="btn btn-outline-dark">se deconnecter</a>
    </div>



{% endblock %}