{% extends 'layout_log_html.twig' %}


{% block content %}
    <div class="bg bg-light p-4">
    <h1>Ajouter un nouveau post</h1>
    {% include 'blogpost/_form.html.twig' %}
    </div>
{% endblock %}
