<nav class="navbar navbar-expand-lg navbar-light  bg bg-danger sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home/index">Elhadj BAH <br><small>Développeur php</small></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home/index">Liste article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
               {#  <li class="nav-item">
                    <a class="nav-link" href="/users/contact">Contact</a>
                </li>#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Mon Compte
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/users/register">S'inscrire</a></li>
                        <li><a class="dropdown-item" href="/Login/login">Se Connecter</a></li>
                    </ul>
                    {# test
                    {% if granted("is_connected"=) %}
                     <li class="nav-item">
                        <a class="nav-link" href="/login/logout">Se déconnecter</a>
                    </li>
                    {% endif %}
                    {# test fin #}
                </li>
            </ul>
        </div>
    </div>
</nav>