{% extends'layout.html.twig' %}
{% block content %}
    <div class="container bg bg-white my-5 pt-5">
        <h2 class="text-center">Inscrivez-vous </h2>
    <form method="post" role="form">
        <div class="mb-3">
            <label for="exampleInputNom" class="form-label">Votre Nom</label>
            <input type="text" class="form-control" id="exampleInputNom" aria-describedby="nomHelp" name="nom">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Votre adresse email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre e-mail avec qui que ce soit.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Votre mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="motdepasse">
            <div id="passwordHelp" class="form-text">Ne communiquez jamais votre  mot de passe</div>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    </div>
{% endblock %}